[submodule "3rdparty/GLFW"]
	path = 3rdparty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/bur1k/imgui.git
	branch = docking
